# Python
__pycache__/
*.py[cod]
*$py.class

# Virtual Environment
venv/
env/
.venv/

# Django
db.sqlite3
db.sqlite3-journal
media/

# Environment Variables
.env
.env.*

# Logs
*.log

# Distribution / Packaging
build/
dist/
*.egg-info/

# IDEs
.vscode/
.idea/

# OS Files
.DS_Store
Thumbs.db

# Pytest
.pytest_cache/

# Coverage
.coverage
htmlcov/

# Mypy
.mypy_cache/

# Ruff
.ruff_cache/

# Static files collected in production
staticfiles/

# Node (caso use Tailwind futuramente)
node_modules/

# Local settings
local_settings.py